<div class="wrapper-cart">
    <h1>Create Product</h1>
    <div style="width: 70%; margin: auto;"
      [formGroup]="product"
    >
        <div class="form-control">
          <label for="name">Name: </label>
          <div><input type="text"  id="name" formControlName="name"/></div>
          <div *ngIf="name?.dirty || name?.touched">
           <div *ngIf="name?.hasError('required')" style="color: #a63b3b;">
            Name is required
           </div>
          </div>
        </div>
        <div class="form-control">
          <label for="price">Price: </label>
          <div><input type="text"  id="price" formControlName="price"/></div>
           <div *ngIf="price?.dirty || price?.touched">
            <div *ngIf="price?.hasError('required')" style="color: #a63b3b;">
              Price is required
            </div>
           </div>
        </div>
        <div class="form-control">
            <button (click)="handleAddCart()">Add new product</button>
        </div>
    </div>
</div>