h1{
    text-transform: uppercase;
    color: #fff;
    margin: 0;
    text-align: center;
    padding: 3rem 0;
}

.wrapper-cart{
    background-image: linear-gradient(to right, #d434b0, #8029fc);
    height: calc(100vh - 105px);
}

.group-cart{
    width: 75%;
    background: #fff ;
    margin: auto;
    padding: 2rem;
    border-radius: 10px;
}

.header-cart{
    display: flex;
    padding: 1rem;
    background: #e2e2e2;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

.col-1{
    flex: 1;
}
.col-2{
    flex: 1.5;
}
.col-3{
    flex: 1;
}
.col-4{
    flex: .5;
}

.body-cart{
    margin-top: 1rem;
}

.row-cart{
    display: flex;
    justify-items: center;
    align-items: center;
}